body    {
    background-color: #340d84fe;
    /* color: #ffbec8; */
    color: #bae26a;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: large;
}

.row    {
    padding-left: 1em;
}

form    {
    border-style: dotted;
    padding: 2em;
}
.larger_text  {
    font-size: larger;
}

.plain_list {
    list-style: none;
}
.squish_down    {
    padding-top: 10em;
}
.indent {
    padding-left: 2em;
}
h1 {
    font-family: 'Bangers', cursive;
    color:#f4668f;
    font-weight: bold;
}

h2  {
    font-family: 'Raleway', sans-serif;
}
.container  {
    padding: 2em;
}

.small_text {
    font-size: small;
}

.details    {
    margin: 1em;
}
.collapsible    {
    background-color: #f4668f;
    color: #360E86;
    cursor: pointer;
    text-align: left;
    outline:none;
    font-weight: bold;
}

.active, .collapsible:hover {
    background-color: #ff8f95;
    color: F4666E;
    
}

.content    {
    padding: 10px;
    color: #1e1d20;
    background-color: #9acc37f7;
    display: none;
    overflow: hidden;
}

.container {
    max-width: 100%;
}

/* Google Fonts: 

font-family: 'Dosis', sans-serif;
font-family: 'Figtree', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Raleway Dots', cursive;
