{% extends 'base.html' %}

{% block title %}Create a Routine - MPP {% endblock %} 


{% block body %}
<div class="container d-flex justify-content-center"">
    <div class="row">
        <h1>Create a Routine</h1>
            <p>A routine is a group of exercises you'll practice each session. You can make as many routines as you'd like, which is especially useful if you play more than one instrument, or if you want to craft new routines for specific goals. My Practice Pal will help you keep track of how many times you have practiced the exercises in your routines. </p>

    <form action="/routine" method="post">
        <div id="exercise-list">
            <label for="Title">Routine Title</label>
                <input type="text" placeholder="My First Routine" name="title" id="title">
            <label for="description">Brief description</label>
                <input type="text" placeholder="Drills from teacher" name="description" id="description"><br>
            <label for="add_exercise">Add Exercise</label>
                <input type="text" placeholder="Major Scales" name="exercise" id="exercise">
        </div>

        <button value="Add Exercise to Routine" id="add_exercise">Add Another Exercise</button>
        <br><br>
        <p>
        <input type="submit" value="Save Routine" class="">
        </p>
    </form>

    <div class="details col-md-8 col-xs-12">  
        <h4 class ="indent">My Practice Pal Helps You Store Details</h4>
             <dl class="indent">
                <dt>For each exercise you log, you will also be able to indicate:</dt>
                <dd>🔑major key</dd>
                <dd>7️⃣ modes</dd>
                <dd> ⏰ tempo</dd>
                <dd>↔️ direction</dd>
             </dl>
            </p>
    </div>

    </div>
</div>
    
{% endblock %}